<h2> Laundry Booking System</h2>

<div id="summary">
  <p>
    For the purpose of this assignment we create a web platform for booking
    laundry times, and getting the current status of the laundry room, so the users
    has the possibility to be flexible with their scheduling.
  </p>

  <p>
    To acomplish this, we used a raspberry pi from which our express nodejs server gets the sensor
    data, MongoDB for keeping events, and Angular 2 to display everything in the browser.
  </p>
</div>
